/assets
/todo
/todo.desktop
/chrome-app
/todo-cpp/deps
/todo-cpp/gn-deps
/todo-cpp/gn-build
/todo-cpp/gn-out
/todo-cpp/.gn
/todo-ts/opt-nw
node_modules
dist
g
target
build
.settings
.classpath
.project
.idea
.packages
.pub
.generated
hosts.ini
.gradle
local.properties
